<div *ngIf="auth.user$ | async as user; else login">
    <pre>{{ user | json}}</pre>
    <hr>
    <button class="button" (click)="auth.signOut()">Sign Out</button>
</div>

<ng-template #login>
    <div style="height: 10rem; display: flex; align-items: center; justify-content:center;">
    <button mat-button style="padding: 1rem;" (click)="auth.googleSignin()">
    <mat-icon 
        style="width: 50px; height:30px"
        svgIcon="logo">
        </mat-icon> Login With Google
    </button>  
    </div>
</ng-template>
  