<nav>
  <a routerLink="heroes-dashboard">Dashboard</a>
</nav>
<h2>My Heroes</h2>
<label>search</label><input type=text [(ngModel)]="keyword" (ngModelChange)="searchHero($event)" />
<ul class="heroes">
  <li *ngFor="let hero of filteredHeroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)"
    routerLink="/coding/heroes/heroes-detail/{{hero.id}}">
    <span class="badge">
      {{hero.id}}
    </span>
    <div>
      {{hero.localized_name}}
    </div>
    <div>
      <img src="http://cdn.dota2.com{{hero.icon}}" width="32" height="32" alt="{{hero.localized_name}}" />
    </div>
    
  </li>
</ul>
<!-- <app-heroes-detail [hero]="selectedHero"></app-heroes-detail> -->
<app-messages></app-messages>