<div class="home">
    <p>
        Welcome on the portfolio website of <strong>Dirk Soentjens</strong>.
        On this website you can find out who I am.
    </p>
    <ul>
        <li>
            name :<strong>Dirk Soentjens</strong>
        </li>
        <li>
            age : <strong>{{ difYears }}</strong>
        </li>
        <li>
            Gender : <strong>Male</strong>
        </li>
        <li>
            Nationality : <strong>Dutch</strong>
        </li>
        <li>
            Interest :
            <ul>
                <li>squash</li>
                <li>traveling</li>
                <li>music</li>
                <li>video games</li>
                <li>coding</li>
                <li>movies</li>
                <li>Bike</li>
                <li>snowboarding</li>
            </ul>
        </li>
        <li>
            Countries visted :
            <ul>
                <li>
                    North America
                    <ul>
                        <li>Florida</li>
                        <li>Houston</li>
                        <li>Sanfransico</li>
                        <li>Las Vegas</li>
                    </ul>
                </li>
                <li>
                    Middle America
                    <ul>
                        <li>Costa Rica</li>
                        <li>Panama</li>
                    </ul>
                </li>
                <li>
                    Asia
                    <ul>
                        <li>India</li>
                        <li>Taiwan</li>
                    </ul>
                </li>
                <li>
                    Europe
                    <ul>
                        <li>Netherlands</li>
                        <li>Belgium</li>
                        <li>France</li>
                        <li>Norway</li>
                        <li>Luxemburg</li>
                        <li>Germany</li>
                        <li>Ireland</li>
                        <li>England</li>
                        <li>Portugal</li>
                        <li>Italie</li>
                        <li>Kroatien</li>
                    </ul>
                </li>
                <li>
                    Middle East
                    <ul>
                        <li>Israel</li>
                        <li>Turkey</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>