/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }




/* SNAKE */

.snake {
    background-color: hsl(200,100%,50%);
    border: .25vmin solid black;
    z-index: 1000;
}
.food {
    background-color: hsl(50,100%,50%);
    border: .25vmin solid black;
}

/* SNAKE */

/* PACMAN */

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
}

.grid div {
    width: 20px;
    height: 20px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.ghost-lair {
    /* background-color: pink;  */
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
}

.pinky {
    background-color: pink;
    border: 0px;
}

.inky {
    background-color: cyan;
    border: 0px;
}

.clyde {
    background-color: orange;
    border: 0px;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}


.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

/* PACMAN */